body {
	background-color: #F9F9F9;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
}
.row > div {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
}


/* Logo styling */
.logo {
	padding: 27px 0 27px 0;
}
.logo h1 {
	display: inline-block;
}
.logo span {
	font-size: 125%;
}
.txtcolor {
	color: #f7d13e;
}
/*.fn {
	position: relative;
	top: -12px;
}
.ln {
	position: relative;
	right: -5px;
	bottom: -10px;
}*/


/* Menu styling */
.menu {
	padding: 10px;
	box-shadow: 0 2px 3px #888888;
}
.menu > .row > div {
	border: none;
}
.menu > .row > div:nth-child(2) {
	border-left: 1px solid #c8c9cb;
}
.nav > li {
  float: none;
  display: inline-block;
}
.nav > li > a {
	color: #4f5f70;
	padding-right: 7px;
	padding-left: 7px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #c8c9cb;
}
.clogo {
	width: 23px;
	border-radius: 50%;
}


/* Main image styling */
.imgmain {
	padding: 0;
	box-shadow: 1px 2px 4px #888888;
}
.mainpic {
	width: 100%;
}


/* About section */
.about {
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0 2px 4px #888888;
	font-size: 13px;
}
.ipic {
	border-radius: 50%;
	width: 100px;
}
.about .row div {
	border: none;
}


/* Projects section */
.proj1 {
	margin-top: 10px;
	padding-top: 60px;
	border-bottom: none;
}
.projpic {
	width: 100%;
}
.proj1 .row > div, .proj2 .row > div {
	border: none;
}
.proj2 {
	padding-bottom: 40px;
	box-shadow: 0 2px 4px #888888;
}


/* Skills section */
.skills {
	font-size: 15px;
	margin-top: 10px;
	padding-top: 60px;
	padding-bottom: 30px;
	box-shadow: 0 2px 4px #888888;
}
.skills div {
	border: none;
}
.techlogos {
	margin-top: 25px;
}
.techlogos img {
	width: 65px;
	margin: 7px;
}


/* Experience section */
.exp {
	margin-top: 10px;
	padding-top: 60px;
	padding-bottom: 40px;
	box-shadow: 0 2px 4px #888888;
}


/* Contact section */
.contact {
	margin-top: 10px;
	padding-top: 60px;
	padding-bottom: 40px;
	box-shadow: 0 2px 4px #888888;
}


@media only screen and (max-width: 768px) {
	.skills .row:first-child div {
	padding-bottom: 10px;
	border-top: 1px solid #e5e5e5;
	}
	.techlogos img {
		width: 40px;
		margin: 5px;
	}
}