.container {
	border: 1px solid blue;
}
.row {
	border: 1px solid green;
}

.row > div {
	border: 1px solid orange;
}


.imgmain > div {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	border: 1px solid grey;
	padding: 1px;
}

.menu {
	box-shadow: 0 2px 3px #888888;
	height: 50px;
}


